#map-canvas {
  height: 200px;
}



@media only screen and (min-device-width:600px) {
  #level-select {
    height: 32px !important;
  }

  .level {
    font-size: 24px;
  }
}


.infowindow {
  max-width: 330px;
}

.infowindow h3 {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 13px;
  color: #000;
  font-family: 'Droid Sans', arial, helvetica;
  text-align: left;
}

.session, .sandbox {
  padding: 2px 0;
  clear: both;
  font-size: 13px;
  font-family: 'Droid Sans', arial, helvetica;
}

.session-time {
  float: left;
  width: 8.1em;
  color: #999;
}

.session-title, .session-products {
  margin-left: 8.5em;
}
